.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50vh;
  gap: 12px;
}

.loadingText {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
